<html>
<head>
    <title>Exemplo de App</title>
    <meta charset="utf-8">
    <script src="js/jquery-2.1.3.min.js"></script>
</head>
<body>

<button type="button">Click Me!</button>
<script>
    (function($){
        function processClick(e) {
            $.ajax({
              type: "GET",  dataType: 'text',
              url: '/hello',
              success: function(data){
                  console.log(data);
              },
              error: function( jqXhr, textStatus, errorThrown ){
                  console.log( errorThrown );
              },

            });
            e.preventDefault();
        }
       $("button").click(processClick);
    })(jQuery);
</script>
</body>
</html>